

<div class="container" id="container">
    <div class="jumbotron" id="header">
    <h1 id="eat"><strong>Eat That Burger!</strong></h1>
	{{!-- find burger image --}}
        <img src="../public/assets/img/burger_craft.jpg" id="burger">
    </div>


    <div class="row">
        <div class="col-sm-12">
            <form class="create-update-form" action="/burgers" method="POST">

			<div class="form-group" id="add">
                    <h3 class="title">What's in a name? <u>EVERYTHANG</u>. Add burger name:</h3>
                    <br>
                    <textarea id="box" class="form-control input-lg" type="text" name="burger_name" rows="3"></textarea>
                    </div>
                <button type="submit" id="order" class="bt btn-default btn-lg">Order Up!</button>
                </form>
        </div>
    </div>
   <div>
   <br>
   <hr id="line">
		<div class="col-sm-4" id="yum">
			<div class="panel-panel default">
			<h3 class="title">I'm Reloaded:</h3>
				<ul class="list-group">
				{{#each burgers}}
					{{#unless this.devoured}}
					<li class="list-group-item">
						<div class="input-group">
							<p class="lead"> {{this.burger_name}} </p>
							<span class="input-group-btn">
								<form action="burgers/{{this.id}}?_method=PUT" method="POST">
									<input type="hidden" name="devoured" value="true">
									<button id="button" class="btn btn-default btn-lg" type="submit">Ok, OK, OKAY!</button>
								</form>
							</span>
						</div>
					</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>
<div>
		<div class="col-sm-4" id="devoured">
		<h3 id="melting">I'm Melting!:</h3>
			<div class="panel panel-default">
				<ul class="list-group">
				{{#each burgers}}
					{{#if this.devoured}}
					<li class="list-group-item">
						<p class="lead">{{this.burger_name}} </p>
					</li>
					{{/if}}
				{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>

{{!-- <iframe src="https://giphy.com/embed/HQ2Slp9yEkX72" width="480" height="204" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> --}}

<div style="width:100%;height:0;padding-bottom:58%;position:relative;"><iframe src="https://giphy.com/embed/8mjyUVMiNmOLS" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/good-burger-hello-fast-food-8mjyUVMiNmOLS">via GIPHY</a></p>